<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

        <link href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/chat.css">
        <link href="{{ url_for('static', filename='js/script_dash.js')}}">


        <title>R&M Construcciones</title>
    </head>
<body>

    {% include '/Dashboard-Admin/navigation.html' %}

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="../static/js/script_dash.js"></script>
        <script src="../static/js/chat.js"></script>
</body>
</html>