{% include '/Dashboard-Admin/layout.html' %}
<main>  
    <div class="btn-crt">
        <h2><i class='bx bx-user'></i>
            <a href="{{ url_for('clientes.create') }}"><span>Crear Cliente</span></a></h2>
    </div><br><br>
    <table id="basic-data-table" class="table-asd" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente[0] }}</td>
                    <td>
                    </td>
                    <td>{{ cliente[1] }}</td>
                    <td>{{ cliente[2] }}</td>
                    <td>{{ cliente[5] }}</td>
                    <td>{{ cliente[6] }}</td>
                    <td>
                        <a href="{{ url_for('clientes.edit', Clie_Id=cliente[0]) }}"><span class="danger">Editar</span></a>
                        <a href="{{ url_for('clientes.destroy', Clie_Id=cliente[0]) }}"><span class="danger">Eliminar</span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% include 'Dashboard-Admin/footer.html' %}
