{% include '/Dashboard-Admin/layout.html' %}
<main>
    <br><br>
    <h2>Formulario para editar</h2>
    {% for empleado in empleados %}
    <form action="{{ url_for('empleados.update') }}" method="post" enctype="multipart/form-data">
        <input type="text" value="{{ empleado['Emp_Id'] }}" name="EID" id="EID">
        <div class="data"> 
            
            <br>
            <h2>Nombre:</h2><br>
            <input type="text" value="{{ empleado['Emp_Nombre'] }}" name="ENombre" id="ENombre">
            <br>
            <h2>Correo:</h2><br>
            <input type="text" value="{{ empleado['Emp_Correo'] }}" name="ECorreo" id="ECorreo">
            <br>
            <h2>Foto:</h2>
            <br>
        </div>
        <div class="img-edit">
            <img class="img-thumbnail" width="100" src="{{ url_for('empleados.uploads', nombreFoto=empleado['Emp_Foto']) }}" alt="">
        </div> 
        <br>
        <input type="file" name="EFoto" id="EFoto"> 
        <br>
        <br><br>
        <input type="submit" value="Actualizar">
        <br>
    </form>
    {% endfor %}
</main>
<script src="../static/js/orders.js"></script>
<script src="../static/js/index.js"></script>
{% include 'Dashboard-Admin/footer.html' %}
