{% include 'Dashboard-Admin/layout.html' %}

<main>  
       
    <div class="btn-crt">
        <h2><i class='bx bx-user'></i>
            <a href="{{ url_for('empleados.create') }}"><span>Crear Empleado</span></a></h2>
    </div>
    <table id="basic-data-table" class="table-asd" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>

    {% for empleado in empleados %}

            <tbody>
                <tr>
                  <td>{{empleado[0] }}</td>
                  <td><img class="img-thumbnail" width="100" src="{{ url_for('empleados.uploads', nombreFoto=empleado[3]) }}" alt=""></td>
                  <td>{{empleado[1] }}</td>
                  <td>{{empleado[2] }}</td>
                  <td><a href="{{ url_for('empleados.edit', Emp_Id=empleado[0]) }}"><span class="danger">editar</span></a></td>
                  <td><a href="{{ url_for('empleados.destroy', Emp_Id=empleado[0]) }}"><span class="danger">Eliminar</span></a></td>
                </tr>
    
    {% endfor %}

</main>
        <!-- End of Main Content -->

    <script src="../static/js/orders.js"></script>
    <script src="../static/js/index.js"></script>

    {% include 'Dashboard-Admin/footer.html' %}

    
</tbody>
</table>
