{% include 'Dashboard-Admin/layout.html' %}

<main>       
    <div class="btn-crt">
        <h2><i class='bx bx-user'></i>
            <a href="{{ url_for('servicios.create') }}"><span>Crear Servicios</span></a></h2>
    </div><br><br>
    <table id="basic-data-table" class="table-asd" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio[0] }}</td>
                    <td><img class="img-thumbnail" width="100" src="{{ url_for('servicios.uploads', nombreFoto=servicio[5]) }}" alt=""></td>
                    <td>{{ servicio[1] }}</td>
                    <td>{{ servicio[2] }}</td>
                    <td><a href="{{ url_for('servicios.edit', Serv_ID=servicio[0]) }}"><span class="danger">editar</span></a></td>
                    <td><a href="{{ url_for('servicios.destroy', Serv_ID=servicio[0]) }}"><span class="danger">Eliminar</span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<script src="../static/js/orders.js"></script>
<script src="../static/js/index.js"></script>
