{% include 'Dashboard-Admin/layout.html' %}

        <main>
            <!-- End of Analyses -->

            <!-- New Users Section -->
            
            <br><br>
            <h2>Nuevo proyecto</h2><br>
            <h2><a href="{{ url_for('empleados.create') }}"><span class="danger">Crear proyecto</span></a></h2>

            {% for proyecto in proyectos %}
            

            <div class="new-users">
                
                
                <div class="user-list">

                    <div class="user">
                        <h2>{{proyecto[0] }}</h2>
                    </div>

                    <div class="user">
                        <img class="img-thumbnail" width="100" src="{{ url_for('proyectos.uploads', nombreFoto=proyecto[3]) }}" alt="">
                    </div>
                    <div class="user">
                        <div class="user">
                            <h2>{{proyecto[1] }}</h2>
                        </div>
                    </div>
                    <div class="user">
                        <div class="user">
                            <h2>{{proyecto[2] }}</h2>
                        </div>
                    </div>
                    <div class="user">
                        <h2>
                        <a href="{{ url_for('proyectos.edit', Proy_Id=proyecto[0]) }}"><span class="danger">editar</span></a>
                        </h2>
                    </div>
                    <div class="user">
                        <h2>
                        <a href="{{ url_for('proyectos.destroy', Proy_Id=proyecto[0]) }}"><span class="danger">Eliminar</span></a>   
                        </h2>                 
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

    </div>

    <script src="../static/js/orders.js"></script>
    <script src="../static/js/index.js"></script>

    
</tbody>
