{% include 'Dashboard-Empleado/layout.html' %}

        <!-- Main Content -->
        <main>
            
            
            <!-- End of Analyses -->

            <!-- New Users Section -->
            <br><br>
            <h2>formulario para editar</h2>

                    {% for administrador in administrador%}
            
            

                    <form  action="{{ url_for('administrador.update') }}" method="post" enctype="multipart/form-data">
                        <h2>Id: {{ administrador[0] }}</h2>
                    <div class="data"> <br>
                    <br>
                    <h2>Nombre:</h2><br>
                    <input type="text" value="{{ administrador[3] }}" name="AdNombre" id="AdNombre">
                    <br>
                    <h2>Correo:</h2><br>
                    <input type="text" value="{{ administrador[2] }}" name="AdCorreo" id="AdCorreo">
                    <br>
                    <h2>Foto:</h2>
                    <br>
                    </div>
                    <div class="img-edit">
                    <img class="img-thumbnail" width="100" src="{{ url_for('administrador.uploads', nombreFoto=administrador[3]) }}" alt="">
                    </div> 
        
                    <br>
                    <input type="file" name="AdFoto" id="AdFoto"> 
                    
                    <br>
                    <br><br>
                    <input type="submit"  value="Actualizar">
                    <br>
        
                    </form>
        
                    {% endfor %}
                </main>
              </body>

        </main>

    </div>

    <script src="../static/js/orders.js"></script>
    <script src="../static/js/index.js"></script>

    {% include 'Dashboard-Admin/footer.html' %}

    
</tbody>
