    
{% include '/Dashboard-Admin/layout.html' %}

        <!-- Main Content -->
        <main>
            
            
            <!-- End of Analyses -->

            <!-- New Users Section -->
            <br><br>
            <h2>formulario para editar</h2>

            {% for proyecto in proyectos%}
            
            <form  action="{{ url_for('proyectos.update') }}" method="post" enctype="multipart/form-data">
                <div class="data"> 
                    <input type="text"value="{{ proyecto[0] }}" name="PID" id="PID">
                <br>
                <h2>Nombre:</h2><br>
                <input type="text" value="{{ proyecto[1] }}" name="PNombre" id="PNombre"> 
                <br>
                <h2>Correo:</h2><br>
                <input type="text" value="{{ proyecto[2] }}" name="PCorreo" id="PCorreo">
                <br>
                <h2>Foto:</h2>
            <br>
        </div>
        <div class="img-edit">
            <img class="img-thumbnail" width="100" src="{{ url_for('proyectos.uploads', nombreFoto=proyecto[3]) }}" alt="">
        </div> 
            
            <br>
                <input type="file" name="PFoto" id="FFoto"> 
                <br><br>
                <input type="submit"  value="Actualizar">
                <br>
            
            </form>
            
            {% endfor %}
            
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

    </div>

    <script src="../static/js/orders.js"></script>
    <script src="../static/js/index.js"></script>

    {% include 'Dashboard-Admin/footer.html' %}

    
</tbody>
