{% include '/Dashboard-Cliente/layout.html' %}


<!-- Main Content -->
<main>

    <!-- End of Analyses -->
    <!-- New Users Section -->
    <div class="info-data">
        <div class="card">
            <div class="head">
                <div>
                    <h2>{{ cantidad_empleados }}</h2>
                    <p>Empleados</p>
                </div>
                <i class='bx bx-trending-up icon'></i>
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div>
                    <h2>{{ cantidad_clientes }}</h2>
                    <p>Clientes</p>
                </div>
                <i class='bx bx-trending-down icon down'></i>
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div>
                    <h2>{{ cantidad_proyectos }}</h2>
                    <p>Proyectos</p>
                </div>
                <i class='bx bx-trending-up icon'></i>
            </div>
        </div>
        <div class="card">
            <div class="head">
                <div>
                    <h2>{{ cantidad_usuarios }}</h2>
                    <p>Usuarios Totales</p>
                </div>
                <i class='bx bx-trending-up icon'></i>
            </div>
        </div>
    </div>

    <!-- Recent Orders Table -->
    <!-- End of Recent Orders -->

    

</main>
<!-- End of Main Content -->
</div>
</div>
<script src="../static/js/orders.js"></script>
<script src="../static/js/index.js"></script>

</body>

</html>